body {
  background-color: #444;
  color: white;
  margin: 20px;
  font: 32px "Century Gothic", Futura, sans-serif;
}
#confetti{
  position: fixed;
  margin: 0;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1;
  opacity: 0.44;
  
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.game{
  display:flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  top: 50px;
}
.board-row{
  display: flex;
  flex-flow: row nowrap;
  position: relative;
}

.new-game{
  background-color: #444;
  border: 1px solid #999;
  border-radius: 80px;
  font-size: 40px;
  color: white;
  text-align: center;
  top:20px;
  position: relative;
  width: 300px; 
  z-index: 2;
}

@media (min-width: 769px) {
  .square{
    background-color: #444;
    color: white;
    border: 1px solid #999;
    padding: 0;
    font-size: 84px;
    text-align: center;
    width: 120px;
    height: 120px;
  }
  .new-game{
    left: 9%;
  }
 
}
@media (max-width: 768px) {
  .square{
    background-color: #444;
    color: white;
    border: 1px solid #999;
    padding: 0;
    font-size: 84px;
    text-align: center;
    width: 100px;
    height: 100px;
  }
  #confetti{
    height: 100%;
  }
}

.square:focus {
  outline: none;
  background-color: #222;
}

.status{
  margin: 20px;
  font-size: 24px;
  position: relative;
}